#
# Goodix GT9xx Touchscreen driver
#
config TOUCHSCREEN_GT9XX_GESTURE
	tristate "Goodix GT9xx touchpanel for gesture"
	depends on TOUCHSCREEN_GT9XX
	default n
	help
	  This is application debug interface support for Goodix GT9xx
	  touchscreens.

	  Say Y here if you want to have a Android app debug interface
	  to your system.

	  If unsure, say N.
config TOUCHSCREEN_GT9XX_AUTO_UPDATE
	bool "Goodix GT9xx touchpanel auto update "
	depends on TOUCHSCREEN_GT9XX
	default n
	help
		Say Y here to enable Touchscreen factory test functions.
		
		If unsure, say N.
config TOUCHSCREEN_GT9XX_COMPATIBLE_MODE
	bool "Goodix GT9xx touchpanel GT9XXF mode"
	depends on TOUCHSCREEN_GT9XX
	default n
	help
		Say Y here to enable Touchscreen GT9XXF mode.
		
		If unsure, say N.